@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

footer {
  position: relative;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 1120px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

/*--------------------*/
body {
  font-family: 'Alegreya Sans';
}

a {
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  background: bottom -50px left 30px no-repeat url(/img/leaf_3.png), bottom -30px right 300px no-repeat url(/img/leaf_2.png), bottom 100px right 10px no-repeat url(/img/leaf_1.png), bottom -30px right 100px no-repeat url(/img/berries_2.png), bottom 30px right 260px no-repeat url(/img/berries_1.png), bottom 70px right 25px no-repeat url(/img/sweets.png), top right no-repeat url(/img/decor.png), #61c4d9;
  padding: 0 80px 42px 80px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
}

.menu__items {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  display: block;
  margin: auto 13px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
}

.menu__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__icon {
  margin: auto 5px;
}

.menu__phone {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.main__header {
  margin-top: 100px;
  margin-left: -5px;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
}

.main__text {
  margin-top: 8px;
  margin-left: -5px;
  font-size: 21px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.1px;
}

.button {
  display: inline-block;
  margin-top: 30px;
  font-size: 19px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  color: #365a49;
  width: 156px;
  height: 58px;
  border-radius: 28px;
}

.button:hover {
  color: #fff;
  background-color: #365a49;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 69px;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
}

.advantage__text {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  margin-left: 7px;
}
