@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

footer {
  position: relative;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  position: relative;
  color: #666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 53.33rem;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 52.22rem;
  margin: 0 auto;
  position: relative;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

/*--------------------*/
.hero {
  background: url(../img/decor.png) right bottom no-repeat;
  background-color: #61c4d9;
  height: 100vh;
  min-height: 36rem;
  color: #fff;
  position: relative;
}

.hero:before {
  content: url("../img/leaf_3.png");
  position: absolute;
  bottom: -2.22rem;
  left: 2%;
}

.hero::after {
  content: url("../img/leafs_berry_decor.png");
  position: absolute;
  bottom: -2.22rem;
  right: 1%;
}

.hero__title-section {
  width: 46%;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.33rem 0 2.5rem 0;
  background: url(../img/sweets.png) right center/50% auto no-repeat;
}

.hero__main-title {
  font-size: 2.66rem;
  text-transform: uppercase;
  line-height: 1.22;
  letter-spacing: 0.06rem;
  font-weight: bold;
  margin-bottom: 0.28rem;
}

.hero__title-decs {
  font-size: 1.17rem;
  margin-bottom: 2.83rem;
  padding-right: 15%;
  line-height: 1.2;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 1.4444rem;
}

.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  color: #fff;
  font-size: 1.3333rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 0.6667rem;
  height: 0.6667rem;
  margin-right: 0.3333rem;
}

.menu__link {
  text-decoration: none;
  color: #fff;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 2.8889rem;
}

.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.3889rem;
}

.feature__icon img {
  color: #fff;
}

.feature__text {
  font-size: 0.8889rem;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.0556rem;
  font-weight: bold;
  padding: 1rem 1.9444rem;
  text-transform: uppercase;
  border-radius: 5.5556rem;
  line-height: 1;
  cursor: pointer;
}

.btn--white {
  background: #fff;
  color: #0b4d3c;
}

.btn--white:hover {
  color: #fff;
  background: #0b4d3c;
}

.btn--green {
  color: #fff;
  background: #0b4d3c;
}

.btn--green:hover {
  background: #fff;
  color: #0b4d3c;
}

.btn--trnsp {
  background: none;
}

.btn--trnsp:hover {
  color: #fff;
}

.section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-header__title {
  font-size: 2.6667rem;
  font-weight: bolder;
  margin-bottom: 0.5556rem;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  line-height: 1.2;
}

.section-header__subtitle {
  text-align: center;
  margin: 0 26%;
  margin-bottom: 2.8889rem;
  line-height: 1.2;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantages__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  padding: 0 3%;
}

.advantages__item::before {
  content: url(../img/separ.png);
  position: absolute;
  top: 1.6667rem;
  right: 0;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.advantages__item:first-child {
  padding-left: 0;
}

.advantages__item:last-child {
  padding-right: 0;
}

.advantages__item:last-child::before {
  content: "";
}

.advantage {
  text-align: center;
}

.advantage__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #f3f5f3;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.2222rem;
}

.advantage__icon {
  width: 4.1667rem;
  height: 3.8889rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.advantage__title {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1.1111rem;
}

.advantage__text {
  line-height: 1.2;
}

.advantages-section {
  background: url("../img/half_leaf_bg.png") left top 54% no-repeat;
  position: relative;
}

.advantages-section::before {
  content: url(/img/corn_berry.png);
  position: absolute;
  left: 0;
  bottom: -2%;
}

.reviews__display {
  background: url("../img/feedback-decor.png") no-repeat top right, #f8faf9;
  padding: 2.7778rem 2.5rem 1.8889rem 2.7778rem;
  margin-top: 1.6667rem;
  margin-bottom: 1.3889rem;
  overflow: hidden;
  position: relative;
}

.reviews__display::before {
  content: "";
  display: block;
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 50%;
  top: -3.6111rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  width: 14.1111rem;
  height: 14.4444rem;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.7778rem 5.5556rem 0.7778rem 1.1111rem;
}

.reviews__title {
  font-size: 1.6667rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1.2222rem;
  color: #000;
}

.reviews__text {
  line-height: 1.2;
  margin-bottom: 1.6667rem;
}

.reviews__author {
  line-height: 1.2;
  font-weight: bold;
  color: #000;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 4.4444rem;
  height: 4.4444rem;
  padding: 0.3333rem;
  border: 0.3333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.interactive-avatar--active {
  border-color: #0b4d3c;
}

.reviews-section {
  background: url("../img/bellyes-fb1.png") right top 10% no-repeat, url("../img/feedback-leaf-decor.png") bottom -10% left no-repeat;
  position: relative;
}

.reviews-section:before {
  content: url("../img/bellyes-fb2.png");
  position: absolute;
  left: 0;
  bottom: -15%;
}

.order-section {
  background: url("../img/berry-order.png") no-repeat bottom 10% left 5%, url("../img/leaf-order.png") no-repeat bottom 10% right 5%, url("../img/sec_delivery_decor.png") no-repeat center center/cover, #d2ddd9;
}

.order-section__title {
  color: #0b4d3c;
  margin-bottom: 2.5rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111rem;
}

.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5556rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111rem;
}

.form__block:last-child {
  margin-right: 0;
}

.form__title {
  color: #365a49;
  font-weight: bolder;
  margin-bottom: 0.1667rem;
}

.form__input {
  width: 100%;
  padding: 1rem;
  border: solid 0.1667rem transparent;
}

.form__input:focus {
  border-color: #dee2bd;
}

.form__input--textarea {
  width: 100%;
  height: auto;
  padding: 1rem;
  height: 10rem;
  resize: none;
}

.form__selector {
  border: none;
}

.form__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.form__btns {
  margin-top: 2.2222rem;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.1111rem;
  cursor: pointer;
}

.radio__selector {
  display: none;
}

.radio__selector:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444rem;
  height: 1.4444rem;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5556rem;
  position: relative;
}

.radio__visible::before {
  content: "";
  display: none;
  position: absolute;
  width: 0.7778rem;
  height: 0.7778rem;
  background: #0b4d3c;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio--checkbox .radio__visible {
  border-radius: 0;
}

.radio--checkbox .radio__visible::before {
  background: url("../img/tick.png") center center no-repeat;
}

.section-map {
  background: url("../img/icons/marker.svg") no-repeat top 22% left 42%/2.5556rem 3.1667rem, url("../img/icons/marker.svg") no-repeat top 75% left 40%/2.5556rem 3.1667rem, url("../img/icons/marker.svg") no-repeat top 55% left 71%/2.5556rem 3.1667rem, url("../img/icons/marker.svg") no-repeat top 30% left 92%/2.5556rem 3.1667rem, url("../img/map.jpg") no-repeat top left/cover;
}

.footer {
  height: 5.1667rem;
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.4444rem 0;
}

.footer__office {
  margin: auto 0;
}

.footer__address {
  font-size: 1.1611rem;
  line-height: 1.2778rem;
  font-weight: 400;
}

.footer__phone-number {
  font-size: 1.1667rem;
  line-height: 1.6667rem;
  font-weight: 400;
  color: #365a49;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__icon {
  margin-right: 1.1111rem;
}

.social__icon:last-child {
  margin-right: 0;
}

.social__icon-elem {
  width: 1.1111rem;
  height: 1.1111rem;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.2778rem;
}

.fixed-menu__link {
  width: 0.8889rem;
  height: 0.8889rem;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}

.fixed-menu__link::before {
  content: "";
  width: 42%;
  height: 42%;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  margin: 28% 28%;
}

.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}
