.advantages-section {
  background: url("../img/half_leaf_bg.png") left top 54% no-repeat;
  position: relative;

  @include tablets {
    background-position: left top 5%;
  }


  @include phones {
    background-image: none;
  }


  &::before {
    content: url("../img/corn_berry.png");
    position: absolute;
    left: 0;
    bottom: -2%;

    @include tablets {
      bottom: -15%
    }

    @include phones {
      display: none;
    }

  }
}