.advantage {
  text-align: center;

  @include phones {
    text-align: start;
  }

  &__image-wrapper {
    display: inline-block;
    width: rem(126px);
    height: rem(126px);
    position: relative;
    background: #f3f5f3;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: rem(22px);

    @include phones {
      width: rem(145px);
      height: rem(145px);
    }
  }

  &__icon {
    width: rem(75px);
    height: rem(70px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #2e2e2d;

    @include phones {
      width: rem(90px);
      height: rem(90px);
    }
  }

  &__title {
    font-size: rem(27px);
    line-height: 1.2;
    margin-bottom: rem(22px);

    @include phones {
      text-align: start;
      font-size: rem(35px);
    }

  }

  &__text {
    line-height: 1.2;

    @include phones {
      text-align: start;
      font-size: rem(21px);
      padding: 0 5% 0 5%;
    }
  }
}