.advantage {
  text-align: center;


  &__image-wrapper {
    display: inline-block;
    width: 126px;
    height: 126px;
    position: relative;
    background: #f3f5f3;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 22px;
  }

  &__icon {
    width: 75px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    font-size: 27px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  &__text {
    line-height: 1.2;
  }
}