.btn {
  display: inline-flex;
  font-size: rem(19px);
  font-weight: bold;
  padding: rem(18px) rem(35px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  cursor: pointer;

  &--white {
    background: #fff;
    color: $darkGreen;

    &:hover {
      color: #fff;
      background: $darkGreen;

    }
  }

  &--green {
    color: #fff;
    background: $darkGreen;

    &:hover {
      background: #fff;
      color: $darkGreen;
    }
  }

  &--trnsp {
    background: none;

    &:hover {
      color: #fff;
    }
  }
}