.btn {
  display: inline-flex;
  font-size: 1.0556rem;
  font-weight: bold;
  padding: 1rem 1.9444rem;
  text-transform: uppercase;
  border-radius: 5.5556rem;
  line-height: 1;
  cursor: pointer;

  &--white {
    background: #fff;
    color: $darkGreen;

    &:hover {
      color: #fff;
      background: $darkGreen;

    }
  }

  &--green {
    color: #fff;
    background: $darkGreen;

    &:hover {
      background: #fff;
      color: $darkGreen;
    }
  }

  &--trnsp {
    background: none;

    &:hover {
      color: #fff;
    }
  }
}