.feature {
  display: flex;

  @media screen and (max-width: 950px) {
    margin-bottom: rem(20px);
  }


  &__icon {
    width: rem(50px);
    height: rem(45px);
    margin-right: rem(7px);
    fill: #c6f7ff;
  }

  &__text {
    font-size: rem(16px);
  }
}