.feature {
  display: flex;

  @media screen and (max-width: 950px) {
    margin-bottom: rem(20px);
  }


  &__icon {
    width: rem(45px);
    margin-right: rem(7px);

    img {
      color: #fff
    }
  }

  &__text {
    font-size: rem(16px);
  }
}