.footer {
  height: 5.1667rem;
  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4444rem 0;
  }

  &__office {
    margin: auto 0;
  }

  &__address {
    font-size: 1.1611rem;
    line-height: 1.2778rem;
    font-weight: 400;
  }

  &__phone-number {
    font-size: 1.1667rem;
    line-height: 1.6667rem;
    font-weight: 400;
    color: #365a49;
  }

}