.footer {
  height: 93px;

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
  }

  &__office {
    margin: auto 0;
  }

  &__address {
    font-size: 20.9px;
    line-height: 23px;
    font-weight: 400;
  }

  &__phone-number {
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
    color: #365a49;
  }

}