.form {
  display: flex;

  &__col {
    flex: 1;
    margin-right: 1.1111rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__row {
    display: flex;
    margin-bottom: 0.5556rem;

  }

  &__block {
    flex: 1;
    margin-right: 1.1111rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__title {
    color: #365a49;
    font-weight: bolder;
    margin-bottom: 0.1667rem;
  }

  &__input {
    width: 100%;
    padding: 1rem;
    border: solid 0.1667rem transparent;

    &:focus {
      border-color: #dee2bd;
    }
  }

  &__input--textarea {
    width: 100%;
    height: auto;
    padding: 1rem;
    height: 10rem;
    resize: none;
  }

  &__selector {
    border: none;
  }

  &__control {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  &__btns {
    margin-top: 2.2222rem;
  }
}