.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include tablets {
    align-items: center;
  }


  &__phone-number.phone-number {
    @include tablets {
      display: none;
    }
  }
}