.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__items {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 26px;

  &:last-child {
    margin-right: 0;
  }
}


.menu__link {
  text-decoration: none;
  color: #fff;

}