.menu-fs {
  &__section {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;

    &::before {
      content: "";
      background-color: rgba(0, 0, 0, 0.9);
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  &__close-button {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: 5%;
    right: 5%;

    &--icon {
      width: rem(18px);
      height: rem(18px);
      fill: #fff;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__link {
    font-size: 36px;
    line-height: 72px;
    font-weight: 400;
    color: #ffffff;
  }
}