.phone-number {
  color: #fff;
  font-size: rem(24px);
  text-decoration: none;
  display: flex;
  align-items: center;
  white-space: nowrap;


  &__icon {
    flex-shrink: 0;

    &-elem {
      width: rem(12px);
      height: rem(12px);
      margin-right: rem(6px);
      fill: #fff;

      &--black {
        fill: #000;
      }
    }
  }

  &__text {
    &--white {
      color: #fff
    }

    &--black {
      color: #666;
    }
  }
}