.radio {
  display: flex;
  margin-right: rem(20px);
  cursor: pointer;

  &__selector {
    display: none;

    &:checked~.radio__visible {
      &::before {
        display: block;
      }
    }
  }

  &__visible {
    width: rem(26px);
    height: rem(26px);
    border-radius: 50%;
    background-color: white;
    margin-right: rem(10px);
    position: relative;

    @include phones {
      width: rem(30px);
      height: rem(30px);
    }

    &::before {
      content: "";
      display: none;
      position: absolute;
      width: rem(14px);
      height: rem(14px);
      background: $darkGreen;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include phones {
        width: rem(15px);
        height: rem(15px);
      }
    }
  }

  &__title {
    @include phones {
      font-size: rem(22px);
    }
  }
}

.radio--checkbox {

  .radio__visible {
    border-radius: 0;

    &::before {
      /* background-image: url("data:image/svg+xml;utf8, <svg class='advantage__icon'>
<use href='./img/icons/sprite.svg%23tick'></use></svg>"); */

      background: url("../img/tick.png") center center no-repeat;

    }
  }

  @include phones {
    margin: 0 auto;
  }

}