.radio {
  display: flex;
  margin-right: 1.1111rem;
  cursor: pointer;

  &__selector {
    display: none;

    &:checked~.radio__visible {
      &::before {
        display: block;
      }
    }
  }

  &__visible {
    width: 1.4444rem;
    height: 1.4444rem;
    border-radius: 50%;
    background-color: white;
    margin-right: 0.5556rem;
    position: relative;

    &::before {
      content: "";
      display: none;
      position: absolute;
      width: 0.7778rem;
      height: 0.7778rem;
      background: $darkGreen;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__title {}
}

.radio--checkbox {

  .radio__visible {
    border-radius: 0;

    &::before {
      background: url("../img/tick.png") center center no-repeat;
    }
  }

}