.reviews {

  &__display {
    background: url("../img/feedback-decor.png") no-repeat top right, #f8faf9;
    padding: 2.7778rem 2.5rem 1.8889rem 2.7778rem;
    margin-top: 1.6667rem;
    margin-bottom: 1.3889rem;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 5rem;
      height: 5rem;
      background-color: white;
      border-radius: 50%;
      top: -3.6111rem;
      left: 50%;
      transform: translate(-50%);
    }
  }

  &__display-inner {
    display: flex;
  }

  &__avatar {
    width: 14.1111rem;
    height: 14.4444rem;
  }

  &__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__content {
    flex: 1;
    padding: 0.7778rem 5.5556rem 0.7778rem 1.1111rem;
  }

  &__title {
    font-size: 1.6667rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 1.2222rem;
    color: #000;
  }

  &__text {
    line-height: 1.2;
    margin-bottom: 1.6667rem;
  }

  &__author {
    line-height: 1.2;
    font-weight: bold;
    color: #000;
  }

  &__switcher {
    display: flex;
    justify-content: center;
  }



}