.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-header {

    &__title {
      font-size: 2.6667rem;
      font-weight: bolder;
      margin-bottom: 0.5556rem;
      text-align: center;
      color: #000;
      text-transform: uppercase;
      line-height: 1.2;
    }

    &__subtitle {
      text-align: center;
      margin: 0 26%;
      margin-bottom: 2.8889rem;
      line-height: 1.2;
    }
  }

}