.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-header {

    &__title {
      font-size: rem(48px);
      font-weight: bolder;
      margin-bottom: rem(10px);
      text-align: center;
      color: #000;
      text-transform: uppercase;
      line-height: 1.2;
    }

    &__subtitle {
      text-align: center;
      margin: 0 26%;
      margin-bottom: rem(52px);
      line-height: 1.2;

      @include phones {
        font-size: rem(21.5px);
        margin: 0 5%;
      }
    }

    @include phones {
      margin-bottom: rem(70px);
    }

  }

}