.social {
  display: flex;

  &__icon {
    margin-right: rem(20px);

    &:last-child {
      margin-right: 0;
    }

    &-elem {
      width: rem(20px);
      height: rem(20px);

      @include phones {
        width: rem(25px);
        height: rem(25px);
      }
    }
  }
}